<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="C:\Users\Vasiliy.Fomichev\source\repos\SXC.Ethereum\serialization" />
    <unicorn>
      <configurations>
        <configuration name="SXC Ethereum Content" description="SXC Ethereum Content">
          <targetDataStore physicalRootPath="$(sourceFolder)\content"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Ethereum.Condition" database="master"
                     path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/logged in customer purchased current product" />
            <include name="Ethereum.Renderings.DigitalDownload" database="master"
                     path="/sitecore/layout/Renderings/Ethereum" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>